<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="COME BIEN TEAM">
    <meta name="description" content="COME BIEN - Official Landing Page"/>
    <meta name="keywords" content="Web Mobile, Web Development, App"/>
    <script src="https://kit.fontawesome.com/38faae9422.js" crossorigin="anonymous"></script>
    <title>ComeBien</title>

</head>
<body>
<header id="encabezado">
    <a href="#" class="logo">
        <img src="assets/images/logo.png" alt="Logo ComeBien">
        <h2 class="nombre-empresa">COMEBIEN</h2>
    </a>
    <nav>
        <a class="nav-bar">Inicio</a>
        <a class="nav-bar" >Sobre Nosotros</a>
        <a class="nav-bar" routerLink="/receta">volver</a>
        <a><i class="fa-solid fa-circle-user"></i></a>
    </nav>
</header>
<div class="contenedor">
    <div class="contenido">
        <div class="caja">
            <span>Mejora tu alimentacion y estilo de vida, prueba</span>
            <h1>COMEBIEN</h1>
            <p>Animate al cambio y prueba nuestra app</p>
            <div class="botones">
                <a class="btn1">Descarga para Android</a>
                <a class="btn2">Descarga para iOS</a>
            </div>
        </div>
    </div>
</div>
<div class="cards">
    <div class="tajeta">
        <figure>
            <img src="assets/images/ejer.jpg" alt="Imagen de personas haciendo ejercicios">
        </figure>
        <div class="contenido">
            <h3>Ejercicios Diarios</h3>
            <p>Recomienda rutinas de ejercicio para mantenerse saludable</p>
            <a >Ver Mas</a>
        </div>
    </div>
    <div class="tajeta">
        <figure>
            <img src="assets/images/tablapeso.jpg" alt="Imagen de tabla altura vs peso">
        </figure>
        <div class="contenido">
            <h3>Controla Estado Fisico</h3>
            <p>Permite llevar un control de tu peso y talla para ver cambios</p>
            <a>Ver Mas</a>
        </div>
    </div>
    <div class="tajeta">
        <figure>
            <img src="assets/images/comidas.png" alt="Imagen de varios platos de comida">
        </figure>
        <div class="contenido">
            <h3>Calendario Comidas</h3>
            <p>Ayuda a planificar que comeras cada dia</p>
            <a>Ver Mas</a>
        </div>
    </div>
    <div class="tajeta">
        <figure>
            <img src="assets/images/tienda.jpg" alt="Imagen de una tienda">
        </figure>
        <div class="contenido">
            <h3>Donde Comprar</h3>
            <p>Ubicacion de tiendas donde conseguir productos saludables</p>
            <a>Ver Mas</a>
        </div>
    </div>

</div>
<div class="noticias">
    <div class="conte-noticias">
        <h2>SUSCRIBETE PARA MAS NOTICIAS SALUDABLES</h2>
        <p>Recibe consejos saludables a tu correo asi como noticias de la app</p>
        <form action="#">
            <input type="email" class="campo" placeholder="Introduce tu correo">
            <input type="submit" value="suscribir" class="btn-sub">
        </form>
    </div>

</div>
<header id="fondo">
    <a class="logo">
        <img src="assets/images/logo.png" alt="Logo ComeBien">
        <h2 class="nombre-empresa">COMEBIEN</h2>
    </a>
    <nav>
        <a><i class="fa-brands fa-square-facebook"></i></a>
        <a><i class="fa-brands fa-square-instagram"></i></a>
    </nav>
</header>
</body>
</html>
