<div class="contenedor">
  <form [formGroup]="form" (submit)="aceptar()">
    <mat-form-field class="example-full-width">
      <mat-label>Código</mat-label>
      <input matInput hidden placeholder="Código" formControlName="id">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label>Nombre</mat-label>
      <input matInput required placeholder="Nombre" formControlName="nombre">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label>Descripcion</mat-label>
      <input matInput required placeholder="Descripcion" formControlName="descripcion">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label>Valoracion</mat-label>
      <input matInput required placeholder="Valoracion" formControlName="valoracion">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label>Calorias</mat-label>
      <input matInput required placeholder="Calorias" formControlName="calorias">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label>Link</mat-label>
      <input matInput required placeholder="Link" formControlName="link">
    </mat-form-field>

    <br>
    <button mat-raised-button type="submit" color="primary">Aceptar</button>
    <button mat-raised-button color="warn" routerLink="/receta">Cancelar</button>
    <p>{{mensaje}}</p>

  </form>
</div>
