<div class="login-page">
  <div class="form">
    <img src="./assets/comebienlogo.png" alt="Logo de Comebien">
    <form class="login-form">
      <mat-form-field class="example-full-width">
        <mat-label>User</mat-label>
        <input matInput required placeholder="User" formControlName="user">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <br>
      <button mat-raised-button color="primary"
                (click)="login()">Login</button>
      <p class="message">Not registered? <a href="#">Create an account</a></p>
    </form>
  </div>
</div>


