<body>
  <header>
  <a href="#" class="logo">
      <img src="assets/images/logo.png" alt="Logo ComeBien">
      <h2 class="nombre-empresa">COMEBIEN</h2>
  </a>
  <nav>
      <a class="nav-bar" routerLink="/prelogin/login">SALIR</a>
      <a><i class="fa-solid fa-circle-user"></i></a>
  </nav>
</header>
<div class="contenedor">
  <div class="contenido">
      <div class="caja">
          <span>Bienvenido a tu inicio aqui te recomendamos algunas comidas para estos dias</span>
          <p>Recuerda que tambien puedes agregar o quitar comidas segun tus preferencias</p>
          <div class="botones">
              <a class="btn1" routerLink="/receta">Listar</a>
              <a class="btn2" routerLink="/landing">Landing</a>
          </div>
      </div>
  </div>
</div>

<div class="cards">
  <div class="tajeta">
      <figure>
          <img src="assets/images/pollo al horno.jpg" alt="Imagen de pollo al horno">
      </figure>
      <div class="contenido">
          <h3>Pollo al horno</h3>
          <p>Receta sencilla de pollo al horno con ensalada rusa</p>
          <a >LUNES</a>
      </div>
  </div>
  <div class="tajeta">
      <figure>
          <img src="assets/images/tallarinesverdes.png" alt="Imagen de tallarines verdes">
      </figure>
      <div class="contenido">
          <h3>Tallarines Verdes</h3>
          <p>Ricos tallarines verdes que puedes acompañar con bistec o higado frito</p>
          <a>MARTES</a>
      </div>
  </div>
  <div class="tajeta">
      <figure>
          <img src="assets/images/pescado.jpg" alt="Imagen de pescado con arroz">
      </figure>
      <div class="contenido">
          <h3>Pescado Frito</h3>
          <p>Es importante consumir pescado que aporta Omega</p>
          <a>MIERCOLES</a>
      </div>
  </div>

</div>
</body>
